@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
  font-family: "Mulish", sans-serif;
}

/* This is an inline style, you can also use an external stylesheet */
.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust this value to control the distance of the underline from the text */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust this value to control the thickness of the underline */
  background-color: #000; /* Change this to your desired underline color */
  transition: width 0.3s ease-in-out; /* Control the animation speed here */
}

.hover-underline-animation:hover::after {
  width: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  /* font-family: "helvetica", sans-serif; */
  font-size: 16px;
}
a {
  text-decoration: none;
  font-size: inherit;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bg-download {
  background-image: url("../src//assets/Hero/hero-bg.svg");
  background-color: black;
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.btn-gradient {
  color: #fbfbfd;
  background: linear-gradient(95.14deg, #e52c43, #ff6c00 91.74%);
}
